{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Register
            
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'general:home' %}">Home</a>
            </li>
            <li><a href="{% url 'auth_login' %}">Login</a>
            </li>
            <li class="active">Register</li>
        </ol>
    </div>
</div>
<div class="row">
            
            

                <ul id="myTab" class="nav nav-tabs nav-justified">
                	
					<li class="active"><a href="#tabs-1" data-toggle="tab"><i  class="glyphicon glyphicon-education glyphicon-align-left"></i> Student </a></li>
					<li class=""><a href="{% url 'faculty_registration_register' %}" ><i class="glyphicon glyphicon-education glyphicon-align-left"></i> Faculty </a></li>
					<!-- <li class=""><a href="https://www.google.com/" data-toggle="tab"><i class="glyphicon glyphicon-education glyphicon-align-left"></i> Faculty </a></li> -->
					
					

                    
                </ul>

                <div id="myTabContent" class="tab-content">
                	<br>
					<div class="tab-pane fade active in" id="tabs-1">
						<div id = 'forms'>
								<div class="col-md-2">
								</div>

								<div class="col-md-8">
									<div class="panel panel-default text-center">
							    		<div class="panel-heading">
							                <h3 class="panel-title"> Student Register</h3>
										</div>
										<div class="panel-body">
											<form method="post" action="">
											    {% csrf_token %}
											    <center>
												    <table>
													    {% for field in form %}
													    	<tr>
													    		<th>{{field.label}}</th>
													    		<td>{{field}}</td>

													    	</tr>
													    	<tr><small>{{field.error}}</small></tr>
													    {% endfor %}
												    </table>
											    </center>
											    <br>	
											    <input  type="submit" value="{% trans 'Submit' %}" />
											</form>
										</div>
									</div>
								</div>

								<div class="col-md-2">
								</div>
						</div>
					</div>
					<div class="tab-pane fade" id="tabs-2">
					Facult form
					</div>
					
                    
                </div>

            
        </div>
<!-- <div id = 'forms'>
	<div class="col-md-2">
	</div>

	<div class="col-md-8">
		<div class="panel panel-default text-center">
    		<div class="panel-heading">
                <h3 class="panel-title">Register</h3>
			</div>
			<div class="panel-body">
				<form method="post" action="">
				    {% csrf_token %}
				    {{ form.as_p }}
				    <input type="submit" value="{% trans 'Submit' %}" />
				</form>
			</div>
		</div>
	</div>

	<div class="col-md-2">
	</div>
</div> -->
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}