
<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="INTERNATIONAL INSTITUTE OF PROFESSIONAL STUDIES">
    <meta name="author" content="">
    
    <title>{% block title %} COLLEGE|DYNAMIC {% endblock %}</title>
    

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'general/mb/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'general/mb/css/modern-business.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'general/mb/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extra_head %} {% endblock %}
</head>

<body>






<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'general:accounthome' %}">HOME</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    
                    <li>
                        <a href="{% url 'general:accountprogramdetail' 1 %}">Programs</a>
                    </li>
                    <li>
                        <a href="{% url 'general:accountfacultyinfo' %}">Faculty Information</a>
                    </li>
                    <!-- <li>
                        <a href="{% url 'general:accountcontact' %}">Contact</a>
                    </li> -->
                    <li>
                        <a href="{% url 'faculty:bulletin' %}">Faculty's Corner</a>
                    </li>
                    <li>
                        <a href="{% url 'general:accountlogout' %}">Logout</a>
                    </li>
                   
                    
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block content %}{% endblock %}
    <!-- ######### footer #############-->
    <font color="white">....</font>
     <footer style="margin-top:10%" >
        <!-- Call to Action Section -->
      
        
       

        <!-- Footer -->
        
            <div class="row">
                <div class="col-lg-9">
                    <p>Copyright &copy; Website 2015</p>
                </div>
            
                <div class="col-lg-3" align="right ">
                    <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square"></i></a>
                    </li>
                    </ul>
                    
                </div>
            </div>
           
            

        </footer>

   
    <!-- /.container -->

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'general/mb/js/bootstrap.min.js' %} "></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>


 <!-- jQuery -->
    
    <!-- Contact Form JavaScript -->
    <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <script language="JavaScript" type="text/javascript" src="{% static 'general/mb/js/jquery.min.js' %}"></script>
    
    <script language="JavaScript" type="text/javascript" src="{% static 'general/mb/js/jquery.js' %}"></script>
    
    <script src="{% static 'general/mb/js/bootstrap.min.js' %} "></script>

    <script src="{% static 'general/mb/js/jqBootstrapValidation.js' %}"></script>
    
    
    <!-- // <script src="{% static 'jqchat/jqchat.js' %}"></script> -->

</body>
</html>
