{% extends "students/base.html" %}
{% load staticfiles %}

{% block content %}
<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> Student's Corner
                    
                </h1>
                <ol class="breadcrumb">
                {% block breadcrumb %}
                    <li><a href="{% url 'general:home' %}">Home</a>
                    </li>
                    <li class="active">Student</li>
                {% endblock %}
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                		<a href="{% url 'students:bulletin'%}" class="list-group-item">Bulletin-Board</a>
                    	<a href="{% url 'students:shelf'%}" class="list-group-item">My Shelf</a>
                    	<a href="/chat/rooms/" class="list-group-item">Chatroom</a>
                    	<a href="{% url 'students:profile'%}" class="list-group-item">Profile</a>
                </div>
            </div>
            <!-- Content Column -->
            <div class="col-md-9">
                <!-- Page Content -->
                {% block content1 %}{% endblock %}       
    		</div>
`		</div>
		<!-- /.row -->
    </div>

<hr>
{% endblock %}