{% extends 'students/corner-base.html' %}
{% load staticfiles %}
{% block content1 %}
<!-- Block Content -->
<div class="col-md-4">
	<div class="panel panel-default">
        <div class="panel-heading">
            <center><h4> Question Paper</h4></center>
        </div>
        <div class="panel-body">
            
            {% if question_paper_list %}
            

                {% for question_paper in question_paper_list %}
                <span class='glyphicon glyphicon-pushpin' ></span>
                <a href="{{question_paper.Link}}" target="_blank">{{ question_paper.Title }} </a></br>
                {% endfor %}
            
            {% else %}
                <p>No Notification are available.</p>
            {% endif %}

        </div>
    </div>
</div>
<div class="col-md-4">
	<div class="panel panel-default">
        <div class="panel-heading">
            <center><h4> Book</h4></center>
        </div>
        <div class="panel-body">
            
            {% if book_list %}
            

                {% for book in book_list %}
                <span class='glyphicon glyphicon-pushpin' ></span>
                <a href="{{book.Link}}" target="_blank">{{ book.Title }} </a></br>
                {% endfor %}
            
            {% else %}
                <p>No Notification are available.</p>
            {% endif %}

        </div>
    </div>
</div>
<div class="col-md-4">
	<div class="panel panel-default">
        <div class="panel-heading">
            <center><h4> Link</h4></center>
        </div>
        <div class="panel-body">
            
            {% if link_list %}
            

                {% for link in link_list %}
                <span class='glyphicon glyphicon-pushpin' ></span>
                <a href="{{link.Link}}" target="_blank">{{ link.Title }} </a></br>
                {% endfor %}
            
            {% else %}
                <p>No Notification are available.</p>
            {% endif %}

        </div>
    </div>
</div>


<!-- the hidden block of add buttons -->
<div class="portfolio-modal modal fade" id="edit-shelf" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/roundicons-free.png" alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <p>
                                <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                            <ul class="list-inline">
                                <li>Date: July 2014</li>
                                <li>Client: Round Icons</li>
                                <li>Category: Graphic Design</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}