{% extends 'general/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Notifications
                    
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'general:home' %}">Home</a>
                    </li>
                    <li class="active">Notifications</li>
                </ol>
            </div>
        </div>
<hr>
<ul>
	{% for notification in notification_list %}
	<li class = 'glyphicon glyphicon-pushpin'>
		<a href="{{ notification.Link }}" target="_blank">{{ notification.Title }} </a> {{ notification.pub_date }}
	</li><br>
	{% endfor %}
</ul>
{% endblock %}